.input-field {
  padding: 1.5% 2%;
  font-size: 1.025rem;
  color: #181818;
  background-color: #F7F7F7;
  border: 1px solid #979797;
  border-radius: 4px;
}

.input-field:focus {
  background-color: #FFFFFF;
}
