.chat-directory .large-text {
  margin-bottom: 4%;
}

.chat-directory .medium-text {
  padding: 1.5% 0;
}

.chat-directory .large-text,
.chat-directory .medium-text {
  padding-left: 8%;
}

.chat-directory a:hover .medium-text{
  background-color: #EAE9E9;
}

.company-name {
  padding: 4% 8%;
  background-color: #4D9BFB;
}

.organization-name, .messenger-name {
  margin-top: 10%;
}

.organization-name a:first-of-type .medium-text{
  color: #FCFDFE;
  background-color: #3283E7;
}
